# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: WildFly Launcher - CI

on:
  push:
    branches-ignore:
      - 'dependabot/**'
    paths:
      - '.github/workflows/ci.yml'
      - '**/pom.xml'
      - 'src/**'
  pull_request:
    paths:
      - '.github/workflows/ci.yml'
      - '**/pom.xml'
      - 'src/**'
  schedule:
    - cron: '0 0 * * *' # Every day at 00:00 UTC

# Only run the latest job
concurrency:
  group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}'
  cancel-in-progress: true

jobs:

  build:
    name: '${{ matrix.os }}-jdk${{ matrix.java }}'
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ 'ubuntu-latest' , 'windows-latest',  'macos-latest' ]
        java: ['17', '21']

    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.java }}
          cache: 'maven'
          distribution: 'temurin'
      - name: Build and Test on ${{ matrix.os }} - ${{ matrix.java }}
        run: ./mvnw clean install '-Dwildfly.feature.pack.version='
      - name: Upload surefire logs for failed run
        uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: surefire-reports-${{ matrix.os }}-${{ matrix.java }}
          path: '**/surefire-reports/'
      - name: Upload failsafe logs for failed run
        uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: failsafe-reports-${{ matrix.os }}-${{ matrix.java }}
          path: '**/failsafe-reports/'
      - name: Upload logs for failed run
        uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: server-logs-${{ matrix.os }}-${{ matrix.java }}
          path: '**/*.log'

  build-jdk-11:
    name: '${{ matrix.os }}-jdk11'
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ 'ubuntu-latest' , 'windows-latest',  'macos-latest' ]

    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v5
        with:
          java-version: 11
          cache: 'maven'
          distribution: 'temurin'
      - name: Build and Test on ${{ matrix.os }} - 11
        run: ./mvnw -B clean install
      - name: Upload surefire logs for failed run
        uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: surefire-reports-${{ matrix.os }}-11
          path: '**/surefire-reports/'
      - name: Upload failsafe logs for failed run
        uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: failsafe-reports-${{ matrix.os }}-11
          path: '**/failsafe-reports/'
      - name: Upload logs for failed run
        uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: server-logs-${{ matrix.os }}-11
          path: '**/*.log'