# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: WildFly Launcher - CI

on:
  push:
    branches-ignore:
      - 'dependabot/**'
    paths:
      - '.github/workflows/ci.yml'
      - '**/pom.xml'
      - 'src/**'
  pull_request:
    paths:
      - '.github/workflows/ci.yml'
      - '**/pom.xml'
      - 'src/**'
  schedule:
    - cron: '0 0 * * *' # Every day at 00:00 UTC

# Only run the latest job
concurrency:
  group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}'
  cancel-in-progress: true

env:
  MVN_CMD: './mvnw -V -B'

jobs:

  build:
    name: '${{ matrix.os }}'
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ 'ubuntu-latest' , 'windows-latest',  'macos-latest' ]

    steps:
      - uses: actions/checkout@v6

      - name: Set up JDKs
        uses: actions/setup-java@v5
        with:
          cache: 'maven'
          distribution: 'temurin'
          java-version: |
            17
            21
            25
            26-ea
      - name: Build and Test on ${{ matrix.os }} - Java 26-ea
        run: ${{ env.MVN_CMD }} clean verify
      - name: Build and Test on ${{ matrix.os }} - Java 25
        run: ${{ env.MVN_CMD }} verify '-Dtest.java.home=${{env.JAVA_HOME_25_X64}}${{env.JAVA_HOME_25_ARM64}}' '-Dsurefire.reportsDirectory=${project.build.directory}/surefire-reports-java25'
      - name: Build and Test on ${{ matrix.os }} - Java 21
        run: ${{ env.MVN_CMD }} verify '-Dtest.java.home=${{env.JAVA_HOME_21_X64}}${{env.JAVA_HOME_21_ARM64}}' '-Dsurefire.reportsDirectory=${project.build.directory}/surefire-reports-java21'
      - name: Build and Test on ${{ matrix.os }} - Java 17
        run: ${{ env.MVN_CMD }} verify '-Dtest.java.home=${{env.JAVA_HOME_17_X64}}${{env.JAVA_HOME_17_ARM64}}' '-Dsurefire.reportsDirectory=${project.build.directory}/surefire-reports-java17'
      - name: Upload test logs for failed run
        uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: test-reports-${{ matrix.os }}
          path: |
            **/logs/
            **/surefire-reports*/

  build-jdk-11:
    name: '${{ matrix.os }}-jdk11'
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ 'ubuntu-latest' , 'windows-latest',  'macos-latest' ]

    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK 11
        uses: actions/setup-java@v5
        with:
          java-version: 11
          cache: 'maven'
          distribution: 'temurin'
      - name: Build and Test on ${{ matrix.os }} - 11
        run: ${{ env.MVN_CMD }} clean verify
      - name: Upload test logs for failed run
        uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: test-reports-${{ matrix.os }}-jdk11
          path: |
            **/logs/
            **/surefire-reports*/